.tracks-list-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.tracks-list-header {
    margin: 0;
    font-size: 20px;
    font-weight: 700;
}

.tracks-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    margin-bottom: 30px;
    padding-left: 0;
    list-style-type: none;
}

