.Track {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  min-height: 55px;
  padding: 10px 10px 10px 19px;
  box-sizing: border-box;
}

.Track:hover {
  cursor: pointer;
  text-decoration: underline;
}

.Track__favorite {
  background-color: yellow;
}

.Track__current {
  background-color: #c4e8ee;
}

.Track__current-favorite {
  background-color: #38f7c4;
}

.Favorite-toggle-button,
.Play-button {
  background-color: inherit;
  border: none;
}

.Play-button {
  margin-left: auto;
}

.Favorite-toggle-button:hover,
.Play-button:hover {
  background-color: yellow;
  cursor: pointer;
}

.Favorite-toggle-button__image,
.Play-button__image {
  width: 24px;
  height: 24px;
}
