.track {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  min-height: 55px;
  padding: 10px 10px 10px 19px;
  box-sizing: border-box;
}

.track:hover {
  cursor: pointer;
  text-decoration: underline;
}

.track__favorite {
  background-color: #ffff00;
}

.track__current {
  background-color: #c4e8ee;
}

.track__current-favorite {
  background-color: #38f7c4;
}

.favorite-toggle-button,
.play-button {
  background-color: inherit;
  border: none;
}

.play-button {
  margin-left: auto;
}

.favorite-toggle-button:hover,
.play-button:hover {
  background-color: #ffdc33;
  cursor: pointer;
}

.favorite-toggle-button__image,
.play-button__image {
  width: 24px;
  height: 24px;
}
