.albums-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.albums {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
    padding: 0;
    list-style: none;
}

.album {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 130px;
    margin: 20px;
}

.album__link {
    width: 100px;
    height: 100%;
    background-color: #c4e8ee;
    border: solid 1px #38f7c4;
}