.albums-wrapper {
    display:flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.albums {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    list-style: none;
}

.album {
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
}

.album__image {
    display: block;
    width: 100px;
    height: 100px;
    background-color: #c4e8ee;
    border: solid 1px #38f7c4;
}