.Track__favorite {
display: flex;
justify-content: space-between;
align-items: center;
width: 100%;
min-height: 55px;
padding: 10px 10px 10px 19px;
box-sizing: border-box;
}

.Track__favorite:hover {
cursor: pointer;
text-decoration: underline;
}

.Favorite-delete-button,
.Play-button {
  background-color: inherit;
  border: none;
}

.Favorite-delete-button:hover,
.Play-button:hover  {
  background-color: yellow;
  cursor: pointer;
}

.Play-button {
  margin-left: auto;
}

.Favorite-delete-button__image {
  width: 24px;
  height: 24px;
}