.player {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 30%;
    min-height: 65px;
    margin: 0 60px 30px;
    padding: 10px;
    box-sizing: border-box;
    font-size: 18px;
    font-weight: 700;
    background-color: #c4e8ee;
}

.track-content {
    margin: 0;
    text-align: left;
    word-break: break-word;
}

.button--control {
    background-color: inherit;
    border: none;
}

.button--control:active,
.button--control:focus {
    background-color: #ffdc33;
}

.button-play-player.button--control.button--play {
    margin-left: 0;
}

.button--control:last-of-type {
    margin-right: 10px;
}

.button--control:hover {
    background-color: #ffdc33;
    cursor: pointer;
}

.active {
    background-color: #ffdc33;
}

.playing-status {
    margin-right: 10px;
}